.clients-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-list {
  margin-top: 30px;
  margin-left: 15px;
  flex-basis: calc((100% - 60px) / 2);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}

.clients-icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .clients-content {
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .clients-link {
    width: 216px;
  }

  .clients-list {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    flex-basis: calc((100% - 180px) / 6);
  }
  .clients-link {
    width: 170px;
  }
}

// .clients-link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   color: #afb1b8;

//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border: 1px solid var(--accent-color);
//     color: var(--accent-color);
//   }
// }
