.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background/mobile/bg-main.jpg);
  /* background-position: 50% 50%; */
  background-size: cover;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background/mobile/bg-main@2x.jpg);
  }
}

.hero__section {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
}

.hero__title {
  @include font(26px, 900, 42px);
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  @media (min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/tablet/bg-main.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/tablet/bg-main@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .hero__title {
    margin-bottom: 30px;
    @include font(44px, 900, 60px);
  }
  @media (min-device-pixel-ratio: 1),
    (min-resolution: 96dpi),
    (min-resolution: 1dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/desktop/bg-main.jpg);
    }
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background/desktop/bg-main@2x.jpg);
    }
  }
}
