.ul-projects {
}

.li-projects {
  background: #ffffff;
}

.projects-list-link {
  display: block;
  text-decoration: none;
  color: var(--main-text-color);

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: box-shadow;

    .projects-overlay {
      transform: translateY(0%);
    }
  }
}

.portfolio-image-wrapper {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  overflow-y: scroll;
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  line-height: 1.6;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-projects-conteiner {
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-projects {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;

  &-text {
    font-size: 16px;
    line-height: 1.87;

    color: var(--features-text-team-position-portfolio-projects-text);
  }
}

@media screen and (max-width: 767px) {
  .li-projects:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .ul-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .li-projects {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .ul-projects {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
  .li-projects {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
}
