:root {
  --main-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;
  --main-text-color: #212121;
  --accent-color: #2196f3;
  --logo-p2-header-color: #000000;
  --nav-address-color: #757575;
  --hero-footer-background-color: #2f303a;
  --hero-title-color: #ffffff;
  --hero-button-color: #ffffff;
  --hero-button-background-color: #188ce8;
  --features-text-team-position-portfolio-projects-text: #757575;
  --team-section-background: #f5f4fa;
  --portfolio-button-background-color: #f5f4fa;
  --portfolio-button-background-color-hover: #2196f3;
  --portfolio-button-hover-focus-color: #ffffff;
  --logo-p2-footer-color: #ffffff;
  --address-street-color: #ffffff;
}
